vroom-local/osrm-data/norte-latest.osm.pbf
vroom-local/osrm-data/norte-latest.osrm
vroom-local/osrm-data/norte-latest.osrm.cell_metrics
vroom-local/osrm-data/norte-latest.osrm.cells
vroom-local/osrm-data/norte-latest.osrm.cnbg
vroom-local/osrm-data/norte-latest.osrm.cnbg_to_ebg
vroom-local/osrm-data/norte-latest.osrm.datasource_names
vroom-local/osrm-data/norte-latest.osrm.ebg
vroom-local/osrm-data/norte-latest.osrm.ebg_nodes
vroom-local/osrm-data/norte-latest.osrm.edges
vroom-local/osrm-data/norte-latest.osrm.enw
vroom-local/osrm-data/norte-latest.osrm.fileIndex
vroom-local/osrm-data/norte-latest.osrm.geometry
vroom-local/osrm-data/norte-latest.osrm.icd
vroom-local/osrm-data/norte-latest.osrm.maneuver_overrides
vroom-local/osrm-data/norte-latest.osrm.mldgr
vroom-local/osrm-data/norte-latest.osrm.names
vroom-local/osrm-data/norte-latest.osrm.nbg_nodes
vroom-local/osrm-data/norte-latest.osrm.partition
vroom-local/osrm-data/norte-latest.osrm.properties
vroom-local/osrm-data/norte-latest.osrm.ramIndex
vroom-local/osrm-data/norte-latest.osrm.restrictions
vroom-local/osrm-data/norte-latest.osrm.timestamp
vroom-local/osrm-data/norte-latest.osrm.tld
vroom-local/osrm-data/norte-latest.osrm.tls
vroom-local/osrm-data/norte-latest.osrm.turn_duration_penalties
vroom-local/osrm-data/norte-latest.osrm.turn_penalties_index
vroom-local/osrm-data/norte-latest.osrm.turn_weight_penalties
results/*
results_v3/*
__pycache__/*
v2/__pycache__/*
v3/__pycache__/*
data/*
=======
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
-e 
# Environment files
*.env
*.env.*
